*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
    padding-top: 30px;
  }

  .navcolor{
    color: rgb(57, 55, 55);
    text-decoration: none;
  }

  .txthover{
    color: rgb(57, 55, 55);
    text-decoration: none;
  }

  .txthover:hover{
    color: rgb(52,183,167);
    text-decoration: underline;
  }

.bgcolor{
  background-color: rgb(52,183,167);
  text-decoration: none;
  border-radius: 20px;
}
.img-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0,0,0,.3);
  transition: all .3s;
}